.details-country .container {
  padding: 4rem 2.7rem 6rem 2.8rem;
}

.btn-back {
  background: var(--bg-back-btn);
  box-shadow: 0 0 0.7rem var(--shadow-back-btn);
  border-radius: 2px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.6rem 2.3rem 0.6rem 2.4rem;
  width: fit-content;
  margin-bottom: 6.4rem;
}

.back-icon {
  fill: var(--text-main);
}

.details-country .flag-wrapper {
  width: min(100%, 32rem);
  height: 22.9rem;
  margin-inline: auto;
  border-radius: 5.71755px;
  overflow: hidden;
}

.details-country .flag {
  width: 100%;
  height: 100%;
}

.details-country .country-name {
  margin: 4.4rem 0 1.6rem;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 3rem;
}

.results-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 3.4rem;
}

.result-paragraph {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 3.2rem;
}

.result-paragraph .country-data {
  font-weight: 300;
}

.border-countries {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.border-countries-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.6rem;
}

.border-country {
  box-shadow: 0 0 0.4rem 0.1rem var(--shadow-border-country);
  background: var(--bg-border-country);
  width: 9.6rem;
  border-radius: 2px;
  text-align: center;
  padding: 0.6rem 0;
}
