.text-input {
  display: block;
  width: 100%;
  background: var(--bg-input);
  box-shadow: 0 0.2rem 0.9rem var(--shadow-input);
  border-radius: 5px;
  padding: 1.4rem 1.4rem 1.4rem 7.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--text-main);
  border: none;
}

::placeholder {
  color: var(--text-placeholder);
  opacity: 1;
}

/* Media Queries */
@media screen and (min-width: 900px) {
  .text-input {
    padding: 1.8rem 1.8rem 1.8rem 7.4rem;
    font-size: 1.4rem;
    width: 48rem;
  }
}
