@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --font: "Nunito Sans", sans-serif;
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-1: hsl(207, 26%, 17%);
  --very-dark-blue-2: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --medium-gray: hsl(0, 0%, 77%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --shadow-header: rgba(0, 0, 0, 0.0562443);
  --shadow-back-btn: rgba(0, 0, 0, 0.293139);
  --shadow-border-country: rgba(0, 0, 0, 0.104931);
  --shadow-card: rgba(0, 0, 0, 0.0294384);
  --shadow-input: rgba(0, 0, 0, 0.0532439);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Themes */

.light-mode {
  --bg-header: var(--white);
  --bg-main: var(--very-light-gray);
  --bg-back-btn: var(--white);
  --bg-border-country: var(--white);
  --bg-card: var(--white);
  --bg-input: var(--white);
  --text-main: var(--very-dark-blue-2);
  --text-placeholder: var(--dark-gray);
  --search-color: var(--dark-gray);
  --arrow-color: var(--black);
}

.dark-mode {
  --bg-header: var(--dark-blue);
  --bg-main: var(--very-dark-blue-1);
  --bg-back-btn: var(--dark-blue);
  --bg-border-country: var(--dark-blue);
  --bg-card: var(--dark-blue);
  --bg-input: var(--dark-blue);
  --text-main: var(--white);
  --text-placeholder: var(--white);
  --search-color: var(--white);
  --arrow-color: var(--white);
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  color: var(--text-main);
}

button {
  background: none;
  border: none;
  font: inherit;
  color: var(--text-main);
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

input {
  font: inherit;
}

ul {
  list-style: none;
}

.container {
  width: min(100%, 144rem);
  margin-inline: auto;
}

.main {
  background: var(--bg-main);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
